<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from app.globalincomeinvest.com/login by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Apr 2026 10:49:28 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
   <meta name="csrf-token" content="GxAFly1TP9ZpSaFgzhSaGTnipBFLMAKs6iTD7RNU">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="description" content="Globalincomeinvest- Login to Dashboard">
    <meta name="author" content="Globalincomeinvest- Login to Dashboard">
    <meta name="keywords" content="Globalincomeinvest- Login to Dashboard">
    <title>Login account | Globalincomeinvest</title>
    <!-- Favicon -->
    <link rel="icon" href="storage/app/public/photos/Qhtr8wGSWqwSBQaC6FqJZGVuybkrCQIQC7Tcsqx5.png" type="image/x-icon" />

 

    <!-- Bootstrap css-->
    <link id="style" href="temp/auth/main/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Icons css-->
    <link href="temp/auth/main/assets/web-fonts/icons.css" rel="stylesheet" />
    <link href="temp/auth/main/assets/web-fonts/font-awesome/font-awesome.min.css" rel="stylesheet">
    <link href="temp/auth/main/assets/web-fonts/plugin.css" rel="stylesheet" />

    <!-- Style css-->
    <link href="temp/auth/main/assets/css/style.css" rel="stylesheet">
    <link href="temp/auth/main/assets/css/plugins.css" rel="stylesheet">
    <script src="temp/auth/plugins/sweetalert/js/sweetalert.min.js"></script>
    <script src="temp/auth/plugins/sweetalerts/promise-polyfill.js"></script>
    <link href="temp/auth/plugins/sweetalerts/sweetalert.css" rel="stylesheet" type="text/css" />
    <script src="../unpkg.com/sweetalert2%407.8.2/dist/sweetalert2.all.js"></script>

</head>

<body class="main-body leftmenu ltr dark-theme">
    <style>
    div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span:nth-of-type(1),
    div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span:nth-of-type(2),
    div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span:nth-of-type(3) {
        display: none;
    }

    div#google_translate_element div.goog-te-gadget-simple {
        margin: 0px;
        padding: 10px;
        display: inline-block;
        background-color:#0080db00;
        border: 1px solid #0080db00;
    }

    div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value {
        color: white;
    }

    div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value::after {
        content: "Translate Site";
        padding-right: 5px;
    }

    div#google_translate_element div.goog-te-gadget-simple img:nth-of-type(1) {
        display: none;
    }
    
    .btn-primary {
    background: #F0B90B; /* Bybit Gold */
    color: #181A20; /* Dark Text */
    border: 2px solid #F0B90B;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 2px; /* Soft edges */
    transition: all 0.3s ease-in-out;
}
.btn-outline-danger{
     
  
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 2px; /* Soft edges */
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background: #FFD700; /* Brighter Gold */
    border-color: #FFD700;
    box-shadow: 0 4px 10px rgba(240, 185, 11, 0.3);
    transform: translateY(-2px); /* Slight lift effect */
}
    </style>

    <script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'en',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
    }
    </script>
    <script type="text/javascript"
        src="translate.google.com/translate_a/elementa0d8a0d8a0d8.html?cb=googleTranslateElementInit"></script>

    <!-- Loader -->
    
    <!-- End Loader -->

    <!-- Page -->
    <div class="page main-signin-wrapper">




        


        <!-- Row -->
        <div class="row signpages text-center">
            <div class="col-md-12">
                <div class="card border-0">




                    

                    <div class="row row-sm">
                        <div class="col-lg-8 col-xl-8 col-xs-8 col-sm-12 login_form rounded-start-11">

                            <div class="container-fluid">
                                <div class="row row-sm">
                                    <div class="card-body mt-2 mb-2">
                                        <div class="text-center">
                                            <a href="index.html">
                                                <img src="storage/app/public/photos/xfFIO0gzqG0eOwv0tu8rzA1DqQNOfpwNvkz9z5nB.png" style="height: 60px" class="text-center" />
                                            </a>
                                        </div>
                                        <h2 class="text-start mb-2">Sign In</h2>
                                        <p class="mb-4 text-muted tx-13 ms-0 text-start">Sign in to start trading
                                            crypto, forex and stocks.</p>
                                        <div class="panel desc-tabs border-0 p-0">


                                            



                                            <form method="POST" action="https://app.globalincomeinvest.com/login">
                                                <input type="hidden" name="_token" value="GxAFly1TP9ZpSaFgzhSaGTnipBFLMAKs6iTD7RNU">                                                 <div class="panel-body tabs-menu-body mt-2">
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="tab01">
                                                            <div class="form-group text-start">
                                                                <label class="tx-medium">Email or Username</label>
                                                                <input class="form-control" name="email" value=""
                                                                    placeholder="Email or Username" type="text"
                                                                   required>

                                                                   <div>
                                                                                                                                       </div>
                                                            </div>
                                                            <div class="form-group text-start">
                                                                <label class="tx-medium">Password</label>
                                                                <input class="form-control border-end-0"
                                                                    placeholder="Enter your password"  name="password"
                                                                    type="password"
                                                                    data-bs-toggle="password" required>
                                                            <div>
                                                                                                                            </div>


                                                            </div>
                                                            <button type="submit" name="login"
                                                                class="btn btn-primary btn-block">Sign In</button>

                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        </form>
                                        <div class="text-start mt-4 ms-0 mb-3">
                                            <div class="mb-1"><a href="/forgot_password">Forgot password?</a></div>
                                            <div>Don't have an account? <a href="/register">Register Here</a></div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>


            </div>
        </div>
        <!-- End Row -->








 <div class="gtranslate_wrapper"></div>
<script>
    window.gtranslateSettings = {
        default_language: "en",
        alt_flags:{"en":"usa"},
        wrapper_selector: ".gtranslate_wrapper",
        flag_style: "3d",
    };
</script>
<script src="../cdn.gtranslate.net/widgets/latest/float.js" defer></script>
    </div>
    <!-- End Page -->

    <!-- Jquery js-->
    <script src="temp/auth/main/assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap js-->
    <script src="temp/auth/main/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="temp/auth/main/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Bootstrap Show Password js-->
    <script src="temp/auth/main/assets/js/bootstrap-show-password.min.js"></script>

    <!-- generate-otp js -->
    <script src="temp/auth/main/assets/js/generate-otp.js"></script>

    <!-- Perfect-scrollbar js -->
    <script src="temp/auth/main/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <!-- Select2 js-->
    <script src="temp/auth/main/assets/plugins/select2/js/select2.min.js"></script>

    <!-- Color Theme js -->
    <script src="temp/auth/main/assets/js/themeColors.js"></script>

    <!-- swither styles js -->
    <script src="temp/auth/main/assets/js/swither-styles.js"></script>

    <!-- Custom js -->
    <script src="temp/auth/main/assets/js/custom.js"></script>
    <!-- Smartsupp Live Chat script -->


    <script src="../code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../use.fontawesome.com/b69656bbf6.js"></script>
    <script src="../code.jquery.com/jquery-3.5.1.js"></script>
    <script src="../cdn.jsdelivr.net/npm/bootstrap%405.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>

</body>


<!-- Mirrored from app.globalincomeinvest.com/login by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Apr 2026 10:49:29 GMT -->
</html>

