


            <div class="gtranslate_wrapper"></div>
            <script>
                window.gtranslateSettings = {
                    default_language: "en",
                    alt_flags: { "en": "usa" },
                    wrapper_selector: ".gtranslate_wrapper",
                    flag_style: "3d",
                };
            </script>
            <script src="../cdn.gtranslate.net/widgets/latest/float.js" defer></script>
        </div>
        <!-- End Page -->

        <!-- Jquery js-->
        <script src="temp/auth/main/assets/plugins/jquery/jquery.min.js"></script>

        <!-- Bootstrap js-->
        <script src="temp/auth/main/assets/plugins/bootstrap/js/popper.min.js"></script>
        <script src="temp/auth/main/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

        <!-- Bootstrap Show Password js-->
        <script src="temp/auth/main/assets/js/bootstrap-show-password.min.js"></script>

        <!-- generate-otp js -->
        <script src="temp/auth/main/assets/js/generate-otp.js"></script>

        <!-- Perfect-scrollbar js -->
        <script src="temp/auth/main/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

        <!-- Select2 js-->
        <script src="temp/auth/main/assets/plugins/select2/js/select2.min.js"></script>

        <!-- Color Theme js -->
        <script src="temp/auth/main/assets/js/themeColors.js"></script>

        <!-- swither styles js -->
        <script src="temp/auth/main/assets/js/swither-styles.js"></script>

        <!-- Custom js -->
        <script src="temp/auth/main/assets/js/custom.js"></script>
        <!-- Smartsupp Live Chat script -->


        <script src="../code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../use.fontawesome.com/b69656bbf6.js"></script>
        <script src="../code.jquery.com/jquery-3.5.1.js"></script>
        <script src="../cdn.jsdelivr.net/npm/bootstrap%405.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
       <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="Users/auth.js"></script>
</body>



</html>