  <%- include('templates/header') %>
        <!-- Header Ends -->
        <!-- Banner Area Starts -->
       <section class="banner-area" style="background: url(images/slider/julian-hochgesang-Dkn8-zPIbwo-unsplash.jpg);background-size: cover;background-position: center center;background-repeat: no-repeat;">
			<div class="banner-overlay">
				<div class="banner-text text-center">
					<div class="container">
						<!-- Section Title Starts -->
						<div class="row text-center">
							<div class="col-xs-12">
								<!-- Title Starts -->
								<h2 class="title-head">Get in <span>touch</span></h2>
								<!-- Title Ends -->
								
							</div>
						</div>
						<!-- Section Title Ends -->
					</div>
				</div>
			</div>
        </section>
        <!-- Banner Area Ends -->
        <!-- Contact Section Starts -->
        <section class="contact">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-8 contact-form">
						<h3 class="col-xs-12">Feel at liberty to contact us at your convenience</h3>
                        <p class="col-xs-12">Do you have inquiries or require assistance? Engage in live chat with us or send an email. Our dedicated support team is ready to promptly address your questions and provide solutions.</p>
                        <!-- Contact Form Starts -->
                        <form class="form-contact" method="post" action="#">
                            <!-- Input Field Starts -->
                            <div class="form-group col-md-6">
                                <input class="form-control" name="firstname" id="firstname" placeholder="FIRST NAME" type="text" required>
                            </div>
                            <!-- Input Field Ends -->
                            <!-- Input Field Starts -->
                            <div class="form-group col-md-6">
                                <input class="form-control" name="lastname" id="lastname" placeholder="LAST NAME" type="text" required>
                            </div>
                            <!-- Input Field Ends -->
                            <!-- Input Field Starts -->
                            <div class="form-group col-md-6">
                                <input class="form-control" name="email" id="email" placeholder="EMAIL" type="email" required>
                            </div>
                            <!-- Input Field Ends -->
                            <!-- Input Field Starts -->
                            <div class="form-group col-md-6">
                                <input class="form-control" name="subjectt" id="subject" placeholder="SUBJECT" type="text" required>
                            </div>
                            <!-- Input Field Ends -->
                            <!-- Input Field Starts -->
                            <div class="form-group col-xs-12">
                                <textarea class="form-control" id="message" name="message" placeholder="MESSAGE" required></textarea>
                            </div>
                            <!-- Input Field Ends -->
                            <!-- Submit Form Button Starts -->
                            <div class="form-group col-xs-12 col-sm-4">
                                <button class="btn btn-primary btn-contact" name="submit" type="submit">send message</button>
                            </div>

                            <div>
                            <p class="success" style="color: green;font-weight: 700;padding: 5px;text-align: center;"> </p>
                            <p class="failed" style="color: red;font-weight: 700;padding: 5px;text-align: center;">  </p>   
                            </div>
                            <!-- Submit Form Button Ends -->
                            <!-- Form Submit Message Starts --
                            <div class="col-xs-12 text-center output_message_holder d-none">
								<p class="output_message">
                                                  
                                </p>
                            </div>
                             Form Submit Message Ends -->
                        </form>
						<!-- Contact Form Ends -->
                    </div>
					
					<!-- Contact Widget Ends -->
                </div>
            </div>
        </section>
        <!-- Contact Section Ends -->
        <!-- Call To Action Section Starts -->
        <section class="call-action-all">
			<div class="call-action-all-overlay">
				<div class="container">
					<div class="row">
					 <div class="col-xs-12">
                            <!-- Call To Action Text Starts -->
                            <div class="action-text">
                                <h2>Commence Today With Capital Crest Invest</h2>
                                <p class="lead" data-aos="fade-up" data-aos-duration="500">Register for Free and Commence Investing!</p>
                            </div>
                            <!-- Call To Action Text Ends -->
                            <!-- Call To Action Button Starts -->
                            <p class="action-btn"><a class="btn btn-primary" href="https://app.globalincomeinvest.com/register">Register Now <i class="fas fa-sign-in-alt"></i></a></p>
                            <!-- Call To Action Button Ends -->
                        </div>
					</div>
				</div>
			</div>
        </section>
        <!-- Call To Action Section Ends -->
         <!-- Footer Starts -->
        <footer class="footer">
            <!-- Footer Top Area Starts -->
            <div class="top-footer">
                <div class="container">
                    <div class="row">
                        <!-- Footer Widget Starts -->
                        <div class="col-sm-12 col-md-5">

                            <img src="images/capcrtlogo.png" alt="logo" style="max-width: 300px;margin-left: -2%;">
                            <div class="menu">
                            <p style="color: #C2C2C2;text-align: justify;text-justify: inter-word;">Envisioned and steered by industry trailblazers,<br> <strong><em>Globalincomeinvest</em></strong> stands as a testament to a<br> clear and ambitious mission: Delivering unparalleled<br> trading solutions on a global scale. Anchored in an unwavering<br> commitment, our ethos is dedicated to fostering an exceptional, client-centered culture.

                            </p>
                            <p>
                                <span >
                              
                             <a href="https://www.instagram.com/gggggggggGlobalincomeinvest?igsh=aHM1djN1ODFoZ2c4" style="font-size: 2.5rem; color: #EAB228;" target="_blank" title="Explore on Instagram"><i class="bx bi-instagram"></i></a>
                              &nbsp;
                              &nbsp;
                              <a href="https://wa.me/Globalincomeinvest?text=Greetings,I+trust+this+message+finds+you+well.+I+am+interested+in+exploring+investment+opportunities+with+your+company" style="font-size: 2.5rem; color: #EAB228;" target="_blank" title="Connect on WhatsApp"><i class="bx bi-whatsapp"></i> </a>
                              &nbsp;
                              &nbsp;
                              <a href="https://t.me/gggggggggGlobalincomeinvest" style="font-size: 2.5rem; color: #EAB228;" target="_blank" title="Join on Telegram"> <i class="bx bi-telegram"></i></a>
                          </span>
                            </p>


                            </div>


                        </div>
                        <!-- Footer Widget Ends -->
                        <!-- Footer Widget Starts -->
                        <div class="col-sm-4 col-md-2">
                            <h4>COMPANY</h4>
                            <div class="menu">
                                <ul>
                                      <li><a href="index-2.html">Home</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                  <!--  <li><a href="faq.html">FAQs</a></li> -->
                                    <li><a href="contact.html">Contact Us</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Widget Ends -->
                        <!-- Footer Widget Starts -->
                       <div class="col-sm-4 col-md-2">
                            <h4>LEGAL</h4>
                            <div class="menu">
                                <ul>

                                     <li><a href="images/CapitalCrestiNVEST_Ceritificate.jpg" onclick="document.getElementById('id01').style.display='block'">Certificate of Incorporation</a></li>
                                    <li><a href="https://app.globalincomeinvest.com/login">Privacy Policy</a></li>
                                    <li><a href="https://app.globalincomeinvest.com/login">Terms of Service</a></li>
                                    <li><a href="Capital%20Crest%20Invest_Withdrawal_Policy.pdf" download="Globalincomeinvest Withdrawal Policy" target="_blank">Withdrawal Policy</a></li>
                                    
                                    
                        <div class="modal" id="id01">
                        
                        <div class="divine">
                        <img src="images/Globalincomeinvest_Ceritificate.html" >
                        </div>
                        
                        </div>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Widget Ends -->
                        <!-- Footer Widget Starts -->
                        <div class="col-sm-4 col-md-2">
                            <h4>CONTACT</h4>
                            <div class="menu">
                                
                                    <a href="mailto:support@Globalincomeinvest.com" style="color: #fff;"><i class="bx bi-envelope-fill" style="color: #EAB228"></i>&nbsp;&nbsp;Talk To Support</a><br>
                                    <a href="mailto:service@Globalincomeinvest.com" style="color: #fff;"><i class="bx bi-envelope-fill" style="color: #EAB228"></i>&nbsp;&nbsp;Talk To Service</a><br>
                                    <a href="mailto:agent@Globalincomeinvest.com" style="color: #fff;"><i class="bx bi-envelope-fill" style="color: #EAB228"></i>&nbsp;&nbsp;Talk To Agent</a><br>
                                    
                                  
                                
                            </div>
                        </div>
                        <!-- Footer Widget Ends -->
                    </div>
                </div>
            </div>
            <!-- Footer Top Area Ends -->
            <!-- Footer Bottom Area Starts -->
            <div class="bottom-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- Copyright Text Starts -->
                          <p style="text-align: center;">© Copyright 2018 - <script>document.write(new Date().getFullYear());</script> |  All Rights Reserved</p>
                            <!-- Copyright Text Ends -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom Area Ends -->
        </footer>
        <!-- Footer Ends -->
        <!-- Back To Top Starts  -->
        <a href="#" id="back-to-top" class="back-to-top">
        <i class="bx bi-rocket-fill"></i>
        </a>

       

        <style type="text/css">
        .google-btn{
    background: #28b463;
    left: 20px;
    right: auto;
    position: fixed;
    bottom: 0px;
    z-index: 200002;
    border: 0;
    color: #fff;
    border-radius: 6px;
    padding: 12px 5px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.5s;
    outline: 0;
    box-shadow: none;
    font-family: 'Open Sans', Nunito, sans-serif;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
    box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;

        }

        .goog-te-banner-frame.skiptranslate, .goog-te-gadget-icon {
    display: none !important;
}
body {
    top: 0px !important;
}
.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
        </style>
        <!-- Back To Top Ends  -->
        
        <!--  JS Files -->
        <script src="js/jquery-2.2.4.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/select2.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/custom.js"></script>
        
        <!-- Live Style Switcher JS File - only demo -->
        <script src="js/styleswitcher.js"></script>


         <!-- Aos Js -->
        <script src="js/aos.js"></script>

         <script>
            AOS.init({
                easing: 'ease-in-out-sine',
                duration: 1000
            });
        </script>


         <!-- Particles Js -->
        <script src="js/particles.js"></script>  
        <script src="js/app.js"></script>

        <!--CHAT ME API -->
       

       
        
         <script>

        function googleTranslateElementInit() {

            new google.translate.TranslateElement({

            pageLanguage: 'en',

            autoDisplay: 'true',

            layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL

            }, 'google_translate_element');

            }          

        </script>


        <!--google translator api-->
        <script src='translate.google.com/translate_a/elementa0d8a0d8.html?cb=googleTranslateElementInit'></script>

    </div>
    <!-- Wrapper Ends -->
     <script type="text/javascript">
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
    modal.style.display = "none";}
    }   
    </script>
    
</body>



<!-- Mirrored from Globalincomeinvest.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Sep 2024 22:09:16 GMT -->

<!-- Mirrored from globalincomeinvest.com/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Apr 2026 10:39:42 GMT -->
</html>